.cryptocaritem{
    height: 740px ;
}
.butbut{
    top: 579px ;
}
.imt{
    height: 32em;
}


@media screen and (max-width:560px){
        .imt{
            width: 100%;
            height: auto;
        }
        .tuy{
            margin-left: -120px;
            display: flex;
        }
        .ait2{
            padding: 5px 3em;
        }
        .ait3{
            margin-left: 112px;
        }
        .butbut{
            top: 427px !important;
            margin-right: 100px;
        }
}
@media screen and (min-width:1200px) and (max-width:1440px) {
    .sens1{
        /* margin-top: 73px !important; */
    font-size: 5em !important;
    margin-top:-2rem;
    }
    .sidecnt
    {
        top:0 !important;
    }
}
@media screen and (width:1536px){
    .sens{
        margin-top: 200px !important; 
   font-size: 5em !important;
   }
   .st{
    margin-top: 0px !important;
    font-size: 5em !important;
}
.para1{
    margin-left: 18em;
}
}
@media screen and (width:1024px) {
    .st{
        margin-top: 20px !important;
        font-size: 4em !important;
    }
    .sens1{
        font-size: 4em !important;
        margin-top: 170px;
    }
    .para1{
        text-align: center !important;
        margin-left: 10em;
    }
}
