.sidebar a {
    padding: 8px;
    text-decoration: none;
    color: #fff !important;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding-left: 30px;
    font-size: 16px;
}

.part7previ{
    margin-top: 2rem !important;
}
.part7nex{
    margin-top: 2rem !important;
}
 
.resbut{
    border-radius: 16px;
      margin-right: 9%;
background-image:linear-gradient(120deg
, #16BECF 0%, #3FFFAC 100%); 
      width: 13%;
}
.sec10col2{
    margin-left: -1rem;
}
.sec10col3{
    margin-left: -2rem;
}
.sec10col4{
    margin-left: 12rem;
}
.devimg1{

width: 13rem;
margin-right: 428px;
margin-top: 20px;
margin-bottom: 26px;
margin-left: 595px !important;
}
.part8img2{
    width: 134px;
    margin-left: 2rem;
}
.part8img3{
    width: 95px;
    margin-left: 5rem;
    margin-top: -2rem;
}
.part8img4{
    width: 88px;
    margin-left: 6rem;
    margin-top: -1rem;
}
.part8img5{
    width: 124px;
    margin-left: 5rem;

}
.devdappheading {
    color: black;
    font-weight: bold;
    font-size: 78px;
}
.section1devcont{
    width: 100% !important;
}
.section1devecont{
    width:100% !important ;
}

.devhead2 {
    color: black;
    font-weight: bold;
    font-size: 78px;
}

.devhead3 {
    color: #16BECF;
    font-size: 68px;
}
.devmainres{
    width: 41rem;
    margin-top: -18rem;
    margin-left: 71rem !important;


}
.devnav{
  
    height: 100px;

}
.devsec1div {
    margin-left: 56px !important;
    margin-top: 23px;
}

.devwhat {
    margin-left: -158px !important;
    background-color: #16BECF !important;
    width: 33%;
    font-size: 18px;
    color: #fff;
    margin-top: 426px;
}
.devsec{
    width: 69% !important;
    margin-left: 288px !important;
    margin-top: 27px;
    font-size: 22px !important;

}
.devcard1{
    flex-direction: row;
    width: 601px !important;
    /* margin-left: 319px !important; */
    height: 132px;
    border: none !important;
  }
  .devcard2 {
    flex-direction: row;
    width: 573px !important;
    /* margin-left: -16px !important; */
    height: 132px;
    border: none !important;

  }
  .delfi{
      font-size: 12px !important;
  }
  .devcard3{
    flex-direction: row;
    width: 601px !important;
    /* margin-left: 318px !important; */
    height: 132px;
    border: none !important;
  }
  .devcard4{
    flex-direction: row;
    width: 573px !important;
   
    /* margin-left: -14px !important; */
    height: 132px;
    border: none !important;

  }
  .card img {
    width: 30%;
  }
  .devcard1title{
    color: #16BECF !important;
  }
  .devcard2title{
    color: #16BECF !important;
  }
  .devcard1img{
    color: #16BECF !important;
  }
  .devcard2img{
    color: #16BECF !important;
  }
  .devcard3img{
    color: #16BECF !important;
  }
  .devcard4img{
    color: #16BECF !important;
  }
  .devcard3title{
    color: #16BECF !important;
  }
  .devcard4title{
    color: #16BECF !important;
  }
  .devcard5{
    background-color: #fff;
    border-radius: 11%;
    
 }
    
  
  .devcard6{
    background-color: #fff;
    border-radius: 11%;
   
}
  .devcard7{
    background-color: #fff;
    border-radius: 11%;
  }
  .devhead1{
    text-align: center;
  }
  .devh2head{
    color: #16BECF !important;
  }
  #icon1{
    width: 5rem;
    margin-left: 41%;
    margin-top: 5%;
  }
  .devcard5title{
   text-align: center;
    font-size: 21px;
    color: #16BECF;
    margin-bottom: 9%;
}
.devcard6title{
    text-align: center;
    font-size: 21px;
    color: #16BECF;
    margin-bottom: 9%;
}
  
.devcard7title{
    text-align: center;
    font-size: 21px;
    color: #16BECF;
    margin-bottom: 9%;
}
.devcard8{
    background-color: #fff;
    border-radius: 11%;
    }
  .devcard9{
    background-color: #fff;
    border-radius: 11%;
}
  .devcard10{
    background-color: #fff;
    border-radius: 11%;
}
  .devtoolh2{
      margin-top: 20px !important;
  }
  .devtoolh5{
      margin-left: 20px !important;
      }
      .devcont2{
          margin-top: 20px !important;
      }
      .devcont1{
        background-color: whitesmoke;
        height: 1008px;
        width: 100% !important;

      }
      #devhead2{
        margin-top: 73px !important;
        /* margin-left: 214px; */
        color:#16BECF;
      }
      .devfirstrow{
        height: 1082px;
      }
      .devh5para{
        margin-top: 2px !important;
    
      }
      .devrowcard5{
          margin-top: 20px !important;
      }
     
/* -----carousel css */
.part3{
    background-color: #16BECF;
    height: 555px !important;
}

 
#devfi {
    border-radius: 0rem;
    margin-top: 4%;
    background-color: #16BECF;
    height: 252px;
 
}
.devsec4button {
    /* margin-left: 521px; */
}

/* ----end---- */


/* ---part5--- */
.part5cont{
   
    background-color: whitesmoke;
    height: 613px !important;
    margin-bottom: 23px !important;
}

/* .part5contain{
    margin-left: 300px !important;
} */
.part5row{
    margin-top: -8px !important;
}
#devmonit{
    margin-top: 29px !important;
    margin-bottom: 111px !important;
 color: #16BECF !important ;
   
}
.part6pophead{

}
.devsec5card1{
    /* width: 26rem !important;
    height: 17rem !important; */

}
.devsec5card2{
    /* width: 26rem !important;
    height: 17rem !important; */

}
.devsec5card3{
    /* width: 26rem !important;
    height: 17rem !important; */

}
.part5img1{
    margin-top: -72px !important;
    margin-left: 119px !important;
    width: 11rem !important;
}
 .part5img2{
        margin-top: -72px !important;
        margin-left: 119px !important;
        width: 11rem !important;
    
    }
    .part5img3{
        margin-top: -72px !important;
        margin-left: 119px !important;
        width: 11rem !important;
    
    }

/* ---end--- */
/* -----start of part6------------------- */
.devblogSec .cardBlocks {
    padding: 80px 30px 40px;
    min-height: 362px;
  }
  
  .devblogSec .cardBlocks:before {
    left: 50%;
    right: auto;
    margin: 0 auto;
    -webkit-transform: translateX(-66px);
            transform: translateX(-66px);
  }
  
  .devblogSec .cardBlocks h4 {
    position: relative;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .devblogSec .cardBlocks h4:before {
    content: "";
    border-bottom: 2px solid #0799A8;
    width: 80px;
    left: 0;
    bottom: 0;
    position: absolute;
  }
  
  .devblogSec .cardBlocks h4 a {
    color: #0799A8;
  }
  
  .devblogSec .cardBlocks h4 a:hover {
    text-decoration: none;
  }
  
  .devblogSec .cardBlocks p {
    line-height: 24px;
  }
  
  .devblogSec .link {
    color: #16BECF;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
  
  .devblogSec .link:hover {
    text-decoration: none;
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
  }
  
  .devblogSec .link:hover span {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
  }
.part6cardimg1{
    width: 26rem !important;
}  
.part6cardimg2{
    width: 26rem !important;
} 
.part6cardimg3{
    width: 26rem !important;
} 
.part6pophead{
    /* margin-left: 300px !important; */
}
/* --------------------end------------------ */

/* ----part7------- */
.part7cont{
  margin-top: 20px !important;
}
.carousel-caption {
    font-weight: 300;
    position: absolute;
    right: 15%;
    
    left: 46%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: initial;
    color: #323232;
 
    top: 59px !important;
}
#carousel-demo .carousel-control-prev,
#carousel-demo .carousel-control-next {
    height: 30px;
    width: 30px;
    margin-left: 329px;
    background-color: #16BECF;
    border-radius: 50%;
    top: 389px;
    opacity: .8;
    margin-left: 564px;
    
}

#carousel-demo .carousel-control-prev {
    left: 30px;
}
#carousel-demo .carousel-control-next {
    left: calc(30px + 30px + 10px);
}
/* #part7cap1 {
    
    width: 470px;
   
} */
#part7carimg1{
    margin-left: -4%;
    width: 30rem;
    margin-top: 3%;
    
}

.devcarousel {
    color: #16BECF !important;
    margin-top: -1% !important;
}
#lisa {
    font-size: 15px !important;
}
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
    height: 580px !important;
}
/* .devpart8head{
    margin-left: 433px !important;
} */
/* .part8img1{
    margin-left: -95px !important;
}
.part8img2{
    margin-left: 68px !important;
}
.part8img3{
    margin-left: 146px !important;
}
.part8img4{
    margin-left: 169px !important;
}
.part8img5{
    margin-left: 198px !important;
} */
.part8cont{
    /* margin-bottom: 127px !important; */
}
/* ----end----- */

/* ---start of part9----- */
#over {
    border-radius: 1%;
  
   
}
#ad {
    margin-top: 15% !important;
    font-weight: 300;
    color: #16BECF;
    margin-left: 27px !important;
}
#ex {
    margin-left: 16px;
    font-weight: 300;
}
#co {
    margin-left: 29%;
    margin-top: 17%;
    color: #16BED1;
    font-weight: 300;
}
#foo4 {
    margin-left: 31%;
    margin-bottom: 4%;
}
#foo1 {
    margin-left: 13% !important;
    margin-bottom: 4%;
}
#mobi {
    margin-top: 1%;
    margin-left: 28%;
    font-weight: 300;
}
#num {
    color: #16BECF;
}
#foot {
    margin-top: 18%;
    margin-left: 38%;
    color: #16BECF;
    font-weight: 300;
}
#foo2 {
    margin-left: 37%;
    margin-bottom: 3%;
}
#tw {
    margin-left: 37%;
    margin-top: 0px!important;
    color: #16BECF;
    font-weight: 300;
}
#sabba {
    margin-left: -7%;
    margin-top: 35px;
}
#su {
    font-weight: 300;
    margin-left: 55%;
    margin-top: 28px !important;
    color: #16BECF !important;
}
#foo3 {
    margin-left: 55%;
    margin-bottom: 3%;
}
#foo5 {
    margin-bottom: 2%;
    width: 20%;
    margin-left: 39%;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    margin-left: 42% !important;
}
.inputGrp .btn {
    background-color: #16BECF;
    border-radius: 0 20px 20px 0;
    color: #fff;
    padding-right: 20px;
}
.inputGrp input {
    border: none;
    border-radius: 20px 0 0 20px;
    font-size: 16px;
    padding-left: 16px;
}
.part9flu{
    background-color: whitesmoke !important;
}
.part3cont{
    margin-top: 92px !important;
}
.devprev{
    margin-top: -199px !important;
}
.devnext{
    margin-top: -171px !important;
}
.part3h3{
    margin-top: 90px !important;
}
.part3p3{
    margin-bottom: -32px !important;
}
.devpart5body{
    margin-top: 76px !important;
}
.devh5head{
    margin-top: -38px !important;
    /* margin-left: 256px !important; */
    margin-bottom: 39px !important;

}
.devpart6p{
    font-size: 14px;
}


/* ----end----- */

/* ----start of new ---------------------------------------- */
@media screen and (min-width:1200px) and (max-width:1390px)
{
   
    .firstcont{
        width: 100% !important;
    }
    .devnav{
        width: 100% !important;
    }
    .devimg1{
        margin-left: 419px !important;
    }
    .resbut{
        margin-left: -211px !important;
    }
    .devsec1div{
        margin-left: 4px !important;
    }
    .devmainres{
        margin-left: 44rem !important;
        margin-top: -18rem !important;
        width: 26rem;
    
    
    }
    .part8img1{
        margin-left: -7rem !important;
    }
    .part8img2{
        margin-left: -3rem !important;
    }
    .part8img3{
        margin-left: 2rem !important;
    }
    .part8img5{
        margin-left: 7rem !important;
        margin-top: -13px;
    
    }
    .devmaincenterimg{
        /* margin-left: 498px !important; */
    }
    .devsec{
        margin-left: 151px !important;
        font-size: 18px !important;
    
    }
    .devwhat{
        margin-left: -9rem !important;
        width: 11rem !important;
    }
    .devcard1{
        flex-direction: row;
    width: 601px !important;
   
    height: 132px;
    border: none !important;
    margin-left: -9px !important;

    }
    .devcard2 {
        flex-direction: row;
        width: 573px !important;
        margin-left: -5px !important;
    
        height: 132px;
        border: none !important;
}
.devcard3{
    flex-direction: row;
    width: 601px !important;
    margin-top: -17px !important;
    margin-left: -7px !important;
    height: 132px;
    border: none !important;


  }
  .part7previ{
    margin-left: 30rem !important;
    margin-top: 0rem !important;

  }
  .part7nex{
    margin-left: 30rem !important;
    margin-top: 0rem !important;
  }
  .devcard4 {
    flex-direction: row;
    width: 573px !important;
    margin-left: -1px !important;
    margin-top: -12px !important;
    height: 132px;
    border: none !important;
}
.part3{
    background-color: #16BECF;
    height: 555px !important;

}
.devcard5{
    width: 23rem !important;
}
.devcard6{
    width: 23rem !important;
}
.devcard7{
    width: 23rem !important;
}
.devcard8{
    width: 23rem !important;
}
.devcard9{
    width: 23rem !important;
}
.devcard10{
    width: 23rem !important;
}
.devrow2{
    margin-left: 20px !important;
}
.devprevicon{
    margin-left: -146px !important;
}
.devnexticon{
    margin-left: 112px !important;
}
.devpart4{
    margin-left: 2px !important;
}
/* #devmonit{
    margin-left: -240px !important;
} */
.part5row{
    margin-left: 20px !important;
}
.devsec5card1{
    margin-left: -3rem !important;
    width: 23rem !important;
    height: 19rem !important;
}
.devsec5card2{
    margin-left: -2rem !important;
    width: 23rem !important;
    height: 19rem !important;
}
.devsec5card3{
    margin-left: -1rem !important;
    width: 23rem !important;
    height: 19rem !important;
}
.devsec4button{
    margin-left: 27rem !important;
}
.part6pophead{
    margin-left: 202px !important;
}
.devh5head{
    margin-left: 12rem !important;
}
.devpart6col1{
    margin-left: 0rem !important;
}
.devpart6col2{
    margin-left: 0rem !important;
}
.devpart6col3{
    margin-left: 0rem !important;
}
#part7carimg1{
    margin-left: 20px !important;
}
.part7cont{
    margin-left: -1rem !important;
}
#part7cap1{
    margin-left: 0rem !important;
    width: 39rem;


}
.part6cardimg1{
    width: 22rem !important;
}
.part6cardimg2{
    width: 22rem !important;
}
.part6cardimg3{
    width: 22rem !important;
}
.part8cont{
    margin-left: 2rem !important;
}



.devemail{
    margin-left: -10rem;
}
#carousel-demo .carousel-control-prev,
#carousel-demo .carousel-control-next {
height: 30px;
width: 30px;
margin-left: 329px;
background-color: #16BECF;
border-radius: 50%;
top: 407px;
opacity: .8;
margin-left: 472px;

}
#lisa{
    margin-top: -6rem !important;
    margin-left: 6rem;
}
.delfi{
margin-top: 0rem !important;
margin-left: 6rem;
}
#part7cap1{
    margin-left: 15rem !important;
color: black !important;
text-align: justify;
font-size: 14px;
font-weight: 400;
}
.gamesec10head1{
    margin-left: 6rem;
font-size: 28px !important;
font-weight: 700;
}
.devpart8head{
font-size: 28px !important;
font-weight: 700 !important;
}
.gamesec10caritem{
    height:474px !important;
}
.part7par{
    height:20rem !important;
    text-align: justify;
    margin-left: 6rem;
}
#devhead2{
    font-size: 28px !important;
font-weight: 700;

}
.devcard11p{
    font-size: 14px;
}
.devcard12p{
    font-size: 14px;
}
.devcard13p{
    font-size: 14px;
}
.devcard14p{
    font-size: 14px;
}
.devcard15p{
    font-size: 14px;
}
.devcard16p{
    font-size: 14px;
}
.devpart5p{
    font-size: 14px;
}
#devmonit{
    font-size: 28px !important;
font-weight: 700;

}
.part6pophead{
    font-size: 28px !important;
font-weight: 700 !important;

}
.cardbusiness {
    /* height: 340px !important; */
}
.devcard5{
    border-radius: 20px !important;
}
.devcard6{
    border-radius: 20px !important;
}
.devcard7{
    border-radius: 20px !important;
}
.devcard8{
    border-radius: 20px !important;
}
.devcard9{
    border-radius: 20px !important;
}
.devcard10{
    border-radius: 20px !important;
}



.gamesec1head1{
    font-weight: 700;
    font-size: 87px;
}
.devcard1text{
    font-size: 14px !important;
    }
    .devcard2text{
        font-size: 14px !important;
        }
.devcard3text{
            font-size: 14px !important;
            }
            .devcard4text{
                font-size: 14px !important;
                }
                .devcard5text{
                    font-size: 14px !important;
                    }
                    .devcard6text{
                        font-size: 14px !important;
                        }
                        .devcard7text{
                            font-size: 14px !important;
                            }
                            .devcard8text{
                                font-size: 14px !important;
                                }
                                .devcard9text{
                                    font-size: 14px !important;
                                    }
                                    .devcard10text{
                                        font-size: 14px !important;
                                        }
.devwhat{
 background-color: #16BECF !important;

font-size: 18px !important;
color: #fff !important;
                }

.gamesec1head2{
    font-weight: 700;
    font-size: 87px;
}
.gamesec1head3{
    font-weight: 700;
    font-size: 87px;
    color: #16BECF;
}
.devsec1img1{
    width: 50;
}
.devcard1{
    margin-left: 24px !important;
    margin-bottom: 14px;

}
.devcard2{
    margin-left: 28px !important;
    margin-bottom: 14px;
}
.devcard3{
    margin-left: 24px !important;
}
.devcard4{
    margin-left: 29px !important;
}
.devmainres{
    margin-left: 58rem !important;
    margin-top: -19rem !important;
    width: 28rem !important;

}
.devsec{
    margin-left: 12rem !important;
    font-size: 16px !important;
}
.devwhat{
    margin-left: -10rem !important;
width: 12rem;

}


.devsec4button{
    /* margin-left: 524px !important; */
}
.part6cardimg1{
    width: 26rem !important;
}
.part6cardimg2{
    width: 26rem !important;
}
.part6cardimg3{
    width: 26rem !important;
}
.devsec5card1{
    height: 19rem;
}
}


/* --------------end of new------------------------------------ */

/* -----start of 1440px -------------------------------------- */
@media only screen and (min-width:1440px) and (max-width:1800px) {
    .devemail{
        margin-left: -10rem;
    }
    #carousel-demo .carousel-control-prev,
#carousel-demo .carousel-control-next {
    height: 30px;
    width: 30px;
    margin-left: 329px;
    background-color: #16BECF;
    border-radius: 50%;
    top: 382px;
    opacity: .8;
    margin-left: 472px;
    
}
    #lisa{
        margin-top: -6rem !important;
        margin-left: 6rem;
}
.delfi{
    margin-top: 0rem !important;
    margin-left: 6rem;
}
    #part7cap1{
        margin-left: 15rem !important;
    color: black !important;
    text-align: justify;
    font-size: 14px;
    font-weight: 400;
}
.gamesec10head1{
    margin-left: 5rem;
    font-size: 28px !important;
    font-weight: 700;
}
.devpart8head{
    font-size: 28px !important;
    font-weight: 700 !important;
}
    .gamesec10caritem{
        height:474px !important;
    }
    .part7par{
        height:20rem !important;
        text-align: justify;
        margin-left: 6rem;
    }
    #devhead2{
        font-size: 28px !important;
    font-weight: 700;

    }
    .devcard11p{
        font-size: 14px;
    }
    .devcard12p{
        font-size: 14px;
    }
    .devcard13p{
        font-size: 14px;
    }
    .devcard14p{
        font-size: 14px;
    }
    .devcard15p{
        font-size: 14px;
    }
    .devcard16p{
        font-size: 14px;
    }
    .devpart5p{
        font-size: 14px;
    }
    #devmonit{
        font-size: 28px !important;
    font-weight: 700;

    }
    .part6pophead{
        font-size: 28px !important;
    font-weight: 700 !important;

    }
    .cardbusiness {
        /* height: 340px !important; */
    }
    .devcard5{
        border-radius: 20px !important;
    }
    .devcard6{
        border-radius: 20px !important;
    }
    .devcard7{
        border-radius: 20px !important;
    }
    .devcard8{
        border-radius: 20px !important;
    }
    .devcard9{
        border-radius: 20px !important;
    }
    .devcard10{
        border-radius: 20px !important;
    }



    .gamesec1head1{
        font-weight: 700;
        font-size: 87px;
    }
    .devcard1text{
        font-size: 14px !important;
        }
        .devcard2text{
            font-size: 14px !important;
            }
 .devcard3text{
                font-size: 14px !important;
                }
                .devcard4text{
                    font-size: 14px !important;
                    }
                    .devcard5text{
                        font-size: 14px !important;
                        }
                        .devcard6text{
                            font-size: 14px !important;
                            }
                            .devcard7text{
                                font-size: 14px !important;
                                }
                                .devcard8text{
                                    font-size: 14px !important;
                                    }
                                    .devcard9text{
                                        font-size: 14px !important;
                                        }
                                        .devcard10text{
                                            font-size: 14px !important;
                                            }
    .devwhat{
     background-color: #16BECF !important;
    
    font-size: 18px !important;
    color: #fff !important;
                    }

    .gamesec1head2{
        font-weight: 700;
        font-size: 87px;
    }
    .gamesec1head3{
        font-weight: 700;
        font-size: 87px;
        color: #16BECF;
    }
    .devsec1img1{
        width: 50;
    }
    .devcard1{
        margin-left: 113px !important;
        margin-bottom: 14px;
    
    }
    .devcard2{
        margin-left: 15px !important;
        margin-bottom: 14px;
    }
    .devcard3{
        margin-left: 113px !important;
    }
    .devcard4{
        margin-left: 15px !important;
    }
    .devmainres{
        margin-left: 58rem !important;
        margin-top: -19rem !important;
        width: 28rem !important;
    
    }
    .devsec{
        margin-left: 12rem !important;
        font-size: 16px !important;
    }
    .devwhat{
        margin-left: -10rem !important;
    width: 12rem;

    }
  
   
    .devsec4button{
        /* margin-left: 524px !important; */
    }
    .part6cardimg1{
        width: 26rem !important;
    }
    .part6cardimg2{
        width: 26rem !important;
    }
    .part6cardimg3{
        width: 26rem !important;
    }
    .devsec5card1{
        height: 19rem;
    }
}
/* ----end------------------------------------------------------ */

/* ------------------------start of 586px----------------------- */
@media screen and (max-width:576px) {
    /* .carousel-inner {
        position: relative;
        width: 100%;
        overflow: visible !important;
    } */
    .gamesec1head1{
        font-size: 37px !important;
        font-weight: 700 !important;
    }
    .gamesec1head2{
        font-size: 37px !important;
        font-weight: 700 !important;
    }
    .gamesec1head3{
        font-size: 37px !important;
        font-weight: 700 !important;
        color: #16BECF;
    }
    .navbar-collapse{
        display: flex !important;
    }
    .devwhat {
        
        background-color: #16BECF !important;
        width: 33% !important;
        font-size: 18px !important;
        color: #fff !important;
    }
    .input-group{
        margin-left: 9% !important;
    }
    #carousel-demo .carousel-control-prev, #carousel-demo .carousel-control-next {
        height: 30px;
        width: 30px;
        background-color: #16BECF;
        border-radius: 50%;
        top: 465px;
    opacity: .8;
    margin-left: 23px !important;
     }
    .delfi{
    font-size: 12px !important;
    margin-left:0rem !important;
    }
    #devhead2{
        font-size: 28px !important;
        font-weight: 700;
    }
    #devmonit{
        font-size: 28px !important;
        font-weight: 700 !important;
    }
    .part6pophead{
        font-size: 28px !important;
        font-weight: 700 !important;
    }
    .devmainres{
        width: 14rem;
        margin-left: 1rem !important;
        margin-top: 20px !important;
    
}
.part8cont{
    margin-top: -2rem;
}
#part7cap1{
    color: black;
}
.devimg1{
    width: 7rem !important;
    margin-left: 5rem !important;
}
.devsec1div{
    font-size: 10px !important;
    margin-top: 7rem !important;
    margin-left: 1rem !important;

}
.devcont2carinner{
    height: 60rem !important;
}
.devpart8head{
    font-size: 28px !important;
    font-weight: 700 !important;
}
.devdappheading{
    font-size: 35px !important;
}
.devhead2{
    font-size: 35px !important;
}
.devhead3{
    font-size: 35px !important;
}
.devmaincenterimg{
    margin-left: 20px !important;
   margin-top: 19px !important;

}
.devsec{
    margin-left: 36px !important;
    font-size: 14px !important;
    margin-top: -1rem;
}
.devcard1title{
    font-size: 20px !important;
}
.devcard1text{
    font-size: 14px !important;
}
.devcard1img{
    width: 3rem !important;
}
.devcard1{
    width: 17rem !important;
    margin-top: 2rem;
}
.devcard2title{
    font-size: 20px !important;
}
.devcard2text{
    font-size: 14px !important;
}
.devcard2img{
    width: 3rem !important;
}
.devcard2{
    width: 17rem !important;
    margin-top: 1rem !important;
}
.devcard3title{
    font-size: 20px !important;
}
.devcard3text{
    font-size: 14px !important;
}
.devcard3img{
    width: 3rem !important;
}
.devcard3{
    width: 17rem !important;
    margin-top: 1rem;
}
.devcard4title{
    font-size: 20px !important;
}
.devcard4text{
    font-size: 14px !important;
}
.devcard4img{
    width: 3rem !important;
}
.devcard4{
    width: 17rem !important;
    margin-top: 1rem !important;
}

.devcard5{
    width: 16rem !important;
    height: 18rem !important;
    margin-bottom: 1rem !important;
    border-radius: 27px !important;
}
.devacard5title{
font-size: 20px !important;
}
.devcard5text{
    font-size: 14px !important;
}
.devcard6{
    width: 16rem !important;
    height: 23rem !important;
    margin-bottom: 1rem !important;
    margin-top: 1rem;
    border-radius: 27px !important;

}
.devacard6title{
font-size: 20px !important;
}
.devcard6text{
    font-size: 14px !important;
}
.devcard7{
    width: 16rem !important;
    height: 24rem !important;
    margin-bottom: 1rem !important;
    border-radius: 27px !important;
}
.devacard7title{
font-size: 20px !important;
}
.devcard7text{
    font-size: 14px !important;
}
.devcont1{
    height: 168rem !important;

}
.devcard8{
    width: 16rem !important;
    height: 25rem !important;
    margin-bottom: 1rem !important;
    border-radius: 27px !important;
}
.devacard8title{
font-size: 20px !important;
}
.devcard8text{
    font-size: 14px !important;
}
.devcard9{
    width: 16rem !important;
    height: 25rem !important;
    margin-bottom: 1rem !important;
    border-radius: 27px !important;
}
.devacard9title{
font-size: 20px !important;
}
.devcard9text{
    font-size: 14px !important;
}
.devcard10{
    width: 16rem !important;
    height: 25rem !important;
    margin-bottom: 1rem !important;
    border-radius: 27px !important;
}

.devcont1 {
    background-color: whitesmoke;
    height: 1008px;
    width: 100% !important;
}
.devacard10title{
font-size: 20px !important;
}
.devcard10text{
    font-size: 14px !important;
}
.devcard11{
    width: 13rem !important;
    height: 25rem !important;
    margin-left: 1rem !important;
}
.devcard11p{
    font-size: 14px !important;
}
.devcard12{
    width: 13rem !important;
    height: 25rem !important;
    margin-left: 1rem !important;
}
.devcard12p{
    font-size: 14px !important;
}
.cardbusiness{
    height: 299px !important;
}
.devcard13{
    width: 13rem !important;
    height: 25rem;
    margin-left: 1rem !important;
}
.devcard13p{
    font-size: 14px !important;
}
.devcard14{
    width: 13rem !important;
    height: 25rem;
    margin-left: 1rem !important;
}
.devcard14p{
    font-size: 14px !important;
}
.devcard15{
    width: 13rem !important;
    height: 25rem !important;
    margin-left: 1rem !important;
}
.devcard15p{
    font-size: 14px !important;
}
.devcard16{
    width: 13rem !important;
    height: 25rem;
    margin-left: 1rem !important;
}
.devcard16p{
    font-size: 14px !important;
}
.part3{
    height: 71rem !important;
}
.devsec4button{
    margin-left: 20px !important;
    width: 11rem !important;
}
#devfi{
    height: 20rem !important;
}
.part5cont{
    height: 93rem !important;
}
.devsec5card1{
    width: 17rem !important;
    margin-top: -2rem;
    height: 21rem !important;
}
.part5img1{
    margin-left: 3rem !important;
}
.devsec5card2{
    width: 17rem !important;
    height: 22rem !important;
    margin-top: 5rem !important;

}
.part5img2{
    margin-left: 3rem !important;
}
.devsec5card3{
    width: 17rem !important;
    height: 22rem !important;
    margin-top: 10rem !important;

}
/* .part5img1{
    margin-left: 3rem !important;
} */
.part5img3{
    margin-left: 3rem !important;
}
.part6pophead{
    margin-left: 20px !important;
    margin-top: -3rem !important;
}
.devh5head{
    margin-left: 20px !important;
}
.part6cardimg1{
    width: 18rem !important;
}
.part6cardimg2{
    width: 18rem !important;
}
.part6cardimg3{
    width: 18rem !important;
}
.part6card2{
    margin-top: 2rem !important;
}
.part6card3{
    margin-top: 4rem !important;
}
#part7carimg1{
    width: 15rem !important;
    height: 14rem;
    margin-top: 1rem;
    margin-bottom: 6rem !important;

}
#part7cap1{
    margin-top: 11rem !important;
    margin-left: 10px;
    text-align: justify;
}
.part7previ{
    margin-left: 1rem !important;
    margin-top: 27rem !important;

}
.part7nex{
    margin-left: 1rem !important;
    margin-top: 27rem !important;

}
.part7cont{
/* height: 56rem !important; */
}
.devcarousel{
    font-size: 17px !important;
}
.part7par{
    height:20rem !important;
}
.part7carinner{
 height: 59rem !important;
}
#lisa{
    margin-top: 14rem !important;
    margin-left: 0rem;

}
.devwhat{
    width: 12rem !important;
    /* margin-top: -9rem !important;
    margin-left: -3rem !important; */

}
 .devpart8head{
    margin-left: 1rem !important;
    margin-top: 0rem !important;
} 
.part8img1{
    margin-left: 6rem !important;
    margin-bottom: 8rem !important;
    margin-top: 2rem;
}
.part8img2{
    margin-left: 6rem !important;
    margin-top: -9rem !important;
}
 .part8img3{
  
    margin-left: 6rem !important;
    margin-top: -1rem !important;


}
 .part8img4{
    margin-top: 4rem !important;
    margin-left: 6rem !important;
}
.part8img5{
    margin-top: 6rem !important;
    margin-left: 6rem !important;
} */
.resbut{
    margin-bottom: 12rem !important;
}
#su{
   
        margin-left: 6rem !important;
    
}
#foo3{
    margin-left: 6rem !important;
}
.devprev{
    margin-top: 7rem !important;
}
.devnext{
    margin-top: 7rem !important;
}
.input-group inputGrp{
    margin-left: 2rem !important;
}
.devemail{
    width: 8rem;
    margin-left: -3rem;

}
}

/* ----------end------------------------------------------------ */

/* ------start of xxl screen */

    /* .devmainsec{
        margin-left: 12rem !important;
    }
} */



/* 768 pixel  */

@media screen and (min-width:768px) and (max-width:1100px) {
    #carousel-demo .carousel-control-prev, #carousel-demo .carousel-control-next {
    top: 40px !important;
    }
    #part7carimg1{
        width: 14rem !important;
    }
    .devcarousel {
        color: #16BECF !important;
        margin-top: -55% !important;
        font-size: 1.5rem !important;
    }
    .byr{
        display: flex;
    /* margin-right: 238px; */
    }
    .devwhat{
        background-color: #16BECF !important;

    }
    .part5img1, .part5img2, .part5img3 {
        position: absolute;
        top: 4%;
        left: -56% !important;
        height: 120px;
        margin: -60px 0 0 -60px;
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
        width: 12rem !important;
    }
    .gamesec1head1{
        font-size: 48px !important;
        font-weight: 700 !important;

    }
    .gamesec1head2{
        font-size: 48px !important;
        font-weight: 700 !important;
        
    }
    .gamesec1head3{
        font-size: 48px !important;
        font-weight: 700 !important;
        color: #16BECF !important;
        
    }
    .devcard1{
    
            margin-left: 5rem !important;
            margin-bottom: 2rem !important;
        }
        .devcard2{
    
            margin-left: 5rem !important;
            margin-bottom: 2rem !important;
        }
        .devcard3{
    
            margin-left: 5rem !important;
            margin-bottom: 2rem !important;
        }
        .devcard4{
    
            margin-left: 5rem !important;
            margin-bottom: 2rem !important;
        }
        .devtoolcontbene{
            height: 156rem !important;
        }
        .devcard5{
            border-radius: 20px !important;
            width: 24rem !important;
            margin-left: 11rem !important;
        }
        .devcard6{
            border-radius: 20px !important;
            width: 24rem !important;
            margin-left: 11rem !important;
            margin-top: 2rem !important;
        }
        .devcard7{
            border-radius: 20px !important;
            width: 24rem !important;
            margin-left: 11rem !important;
            margin-top: 2rem !important;
        }
        .devcard8{
            border-radius: 20px !important;
            width: 24rem !important;
            margin-left: 11rem !important;
            margin-top: 2rem !important;
        }
        .devcard9{
            border-radius: 20px !important;
            width: 24rem !important;
            margin-left: 11rem !important;
            margin-top: 2rem !important;
        }
        .devcard10{
            border-radius: 20px !important;
            width: 24rem !important;
            margin-left: 11rem !important;
            margin-top: 2rem !important;
        }
        #devmonit{
            font-size: 48px !important;
            font-weight: 700 !important;

        }
        .part5cont{
            height: 57rem !important;
        }
        .part6pophead{
            font-size: 48px !important;
            font-weight: 700 !important;
        }
        .part6card1{
            width: 26rem !important;
            margin-left: 9rem !important;
        }
        .part6card2{
            width: 26rem !important;
            margin-left: 9rem !important;
            margin-top: 3rem !important;
        }
        .part6card3{
            width: 26rem !important;
            margin-left: 9rem !important;
            margin-top: 3rem !important;
        }
        .carousel-caption {
            position: absolute;
            right: 15%;
            bottom: 20px;
            left: 15%;
            z-index: 10;
            padding-top: 20px;
            padding-bottom: 20px;
            /* color: #fff; */
            text-align: center;
            top: 463px !important;
            color: black !important;
        }
        .part8cont{
            margin-top: 24rem !important;
        }
        #part7carimg1{
            margin-left: 4rem !important;
        }
    
}

/* end of 768 pixel  */